.header{
    height: 5rem;
    width: auto;
    background-color: rgb(15, 122, 136);

}

.header li{
   list-style: none;
    margin-left: 5rem; 
    margin-top: 2rem;
    float: right;
   
}
.all{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10rem 10rem ;
    margin: 2rem;
}

.all1{
background-color: rgb(221, 221, 221);
 background-image: linear-gradient(to right, rgba(25,0,0,0),rgb(103, 186, 158));
color: rgb(0, 0, 0);
/* height: 15rem; */
margin: 2rem;
padding: 2rem;
border-top-left-radius: 15px;
border-bottom-right-radius: 15px;
height: 5rem;
}

.all1:hover{
  background-color:rgb(15, 122, 136);;
color: rgb(253, 248, 248);
border-top-left-radius: 0px ;
border-bottom-right-radius: 0px;
border-top-right-radius: 10px;
border-bottom-left-radius: 10px;
}
a{
  color: blanchedalmond;
  text-decoration: none;
  font-weight: 900;
}

.all1 ul{
  text-decoration: none;
  
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }